:root {
  --theme-blue: #409eff;
  --theme-golden: #ffd04b;
  --theme-grey: #f2f6fc;
}

html, body {
  height: 100%;
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear-fix {
  /* 触发hasLayout */
  zoom: 1;
}

.clear-fix:after {
  /* 添加一个看不见的块来清除浮动 */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
